Repository pleaobraga/vite-react-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix", "eslint"],
  "*.{json,scss,css,md}": ["prettier --write"]
}

chore: add badges and author to readme file
  README.md
Due: prettier --write

chore: remove pnpm workspace
  pnpm-workspace.yaml
Due: none

chore: add settings.json
  .gitignore
  .vscode/settings.json
Due: prettier --write

feat: add react testing lib to the project
  .gitignore
  package.json
  pnpm-lock.yaml
  src/components/ui/button/button.spec.tsx
  src/components/ui/button/button.tsx
  tsconfig.json
  vite.config.ts
  vitest.setup.ts
Due: prettier --write, eslint --fix, eslint

feat: fix import issues on test
  src/components/ui/button/button.tsx
  vite.config.ts
Due: prettier --write, eslint --fix, eslint
